@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 100% !important;
}

/* nav .active {
  background-color: slategray;
  color: white;
} */
/*
input {
  @apply border-transparent focus:outline-none !important;
} */


.nav-btn {
  /* @apply inline-block px-3 py-1 rounded-sm; */
}

.nav-btn.active {
  @apply font-bold;
}

.btn {
  @apply bg-yellow-400  text-center p-2 rounded leading-5 shadow-md border-2 border-amber-500;
}

.-mb-px {
  margin-bottom: -2px;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
